<template>
  <div id="home">
    <div class="max-width">
      <!-- Modal Container for updating Quantity -->
      <div class="editModalWrapper" v-bind:class="{ active: editModal }">
        <div class="editModal">
          <span @click="closeModal()"><font-awesome-icon icon="times" /></span>
          <h3>{{editItem.name}}</h3>
          <form class="addItemForm" v-on:submit.prevent="edit(editItem.name, editItem.quantity)">
            <input id="name" placeholder="Name" hidden :value="editItem.name"/>
            <label for="editquantity">Quantity</label>
            <input id="editquantity" type="number" required placeholder="Quantity"
            v-on:keyup.enter="closeModal()"
            v-model="editItem.quantity" />
            <button type="submit">Update</button>
          </form>
        </div>
      </div>

      <div class="filters">
        <input type="text" id="search" v-model="search"/>
        <button @click="sortAlph()">Sort By Name</button>
        <button @click="sortQuan()">Sort By Quantity</button>
      </div>

      <!-- Displays Items in inventory -->
      <ul class="itemList">
        <li v-for="(item, key) in filteredList" v-bind:key="key">
          <span>{{ item.name }}</span>
          <span>{{ item.quantity }}</span>
          <div class="buttons">
            <button class="edit" @click="edit(item.name, item.quantity)">
              <font-awesome-icon icon="edit" />
            </button>
            <button class="del" @click="remove(item.name)">
              <font-awesome-icon icon="trash-alt" />
            </button>
          </div>
        </li>
      </ul>

      <!-- Form to Add New Items to Inventory -->
      <form class="addItemForm" v-on:submit.prevent="addNewItem(item.name)">
        <label for="name">Name</label>
        <input id="name" placeholder="Name" required v-on:keyup="resetNoti()" v-model="item.name" />
        <label for="quantity">Quantity</label>
        <input id="quantity" type="number" required placeholder="Quantity"
        v-model="item.quantity" />
        <div class="notifaction-info" v-bind:class="{ active: infoShow }">
          Updated Quantity of {{item.name}} with the Value of {{item.quantity}}
        </div>
        <button type="submit">Add Item</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  data() {
    return {
      infoShow: false,
      editModal: false,
      sortMode: '',
      search: '',
      items: [{ name: 'Mack', quantity: 20 }],
      item: { name: '', quantity: 0 },
      editItem: { name: '', quantity: 0 },
    };
  },
  methods: {
    addNewItem(name) {
      /*
      * looks through array to see if item exists with name
      * already and if it does then it runs the else{}
      */
      const itemCheck = this.items.findIndex(x => x.name === name);
      // console.log(itemCheck);
      if (itemCheck <= -1) {
        // updates user Array with submitted info
        this.items.push({ name: this.item.name.toLowerCase(), quantity: this.item.quantity });
        // sets the localStorage to the updated array
        localStorage.setItem('inventoryList', JSON.stringify(this.items));
        this.item.name = '';
        this.item.quantity = '';
        this.infoShow = false;
      } else {
        // this section just updates the quantity if the name already exists
        const value = this.item.name;
        const { quantity } = this.item;
        // eslint-disable-next-line
        for (const i in this.items) {
          if (this.items[i].name === value) {
            this.items[i].quantity = quantity;
            break; // Stop this loop, we found it!
          }
        }
        this.infoShow = true;
        // sets the localStorage to the updated array
        localStorage.setItem('inventoryList', JSON.stringify(this.items));
      }
    },
    remove(name) {
      /*
      * if user confirms to remove item clicked finds index of the object
      * in array that has the same name as the item clicked then splices
      * it out of array
      */
      // eslint-disable-next-line
      if (confirm('Are you sure you want to remove this item from inventory!')) {
        const index = this.items.findIndex(x => x.name === name);
        if (index >= 0) {
          this.items.splice(index, 1);
        }
        // Update Localstorage after being removed
        localStorage.setItem('inventoryList', JSON.stringify(this.items));
      }
    },
    edit(name, value) {
      // Opens Modal to Edit
      this.editModal = true;
      // sets editItem Object value to the item clicked
      this.editItem.name = name;
      this.editItem.quantity = value;
      // this keeps the quantity variable up to date with the user input
      const { quantity } = this.editItem;

      /*
      * loops through items array for any object that has the name of the item clicked
      * and updates the quantity value to the value entered by the user
      */
      // eslint-disable-next-line
      for (const i in this.items) {
        if (this.items[i].name === this.editItem.name) {
          this.items[i].quantity = quantity;
          break; // Stop this loop, we found it!
        }
      }
      // Update Localstorage after being updated
      localStorage.setItem('inventoryList', JSON.stringify(this.items));
    },
    closeModal() {
      this.editModal = false;
    },
    resetNoti() {
      // removes any Nofification on Typing in the Name input
      this.infoShow = false;
    },
    compare(a, b) {
      const nameA = a.name.toUpperCase();
      const nameB = b.name.toUpperCase();

      let comparison = 0;
      if (nameA > nameB) {
        comparison = 1;
      } else if (nameA < nameB) {
        comparison = -1;
      }
      return comparison;
    },
    compareVal(a, b) {
      const quantityA = a.quantity;
      const quantityB = b.quantity;

      let comparison = 0;
      if (quantityA > quantityB) {
        comparison = 1;
      } else if (quantityA < quantityB) {
        comparison = -1;
      }
      return comparison;
    },
    sortAlph() {
      const items = JSON.parse(localStorage.getItem('inventoryList'));
      this.items = items.sort(this.compare);
    },
    sortQuan() {
      const items = JSON.parse(localStorage.getItem('inventoryList'));
      this.items = items.sort(this.compareVal);
    },
  },
  mounted() {
    // If items already exist in app display them
    if (localStorage.inventoryList) {
      const items = JSON.parse(localStorage.getItem('inventoryList'));
      if (this.sortMode === 'alph') {
        this.items = items.sort(this.compare);
      } else {
        this.items = items;
      }
    }
  },
  computed: {
    itemsList() {
      return JSON.parse(localStorage.getItem('inventoryList'));
      // console.log(index);
      // return this.items.indexOf('Mack');
    },
    filteredList() {
      return this.items.filter(post => post.name.toLowerCase().includes(this.search.toLowerCase()));
    },
  },
};
</script>
<style lang="scss">
@import url('../scss/form.css');
</style>
