.max-width {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.editModalWrapper {
    background: rgba(0, 0, 0, 0.4); 
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.active {
        display: flex;
    }

    .editModal {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        position: relative;
        flex-wrap: wrap;
        h3 {
            width: 100%;
        }
        span {
            position: absolute;
            top: .5rem;
            right: .5rem;
            cursor: pointer;
            padding: .5rem 1rem;
        }
        .addItemForm {
            width: 100%;
            padding: .5rem;
            box-sizing: border-box;
        }
    }

}

.filters {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;

    input {
        width: 100%;
        padding: .3rem;
        height: 25px;
        font-size: 1rem;
        border: solid 1px #7dcca4;
    }
    button {
        width: 49%;
        margin-top: .5rem;
        border: none;
        font-size: 1rem;
        background: #76c59d;
        color: #fff;
        padding: .5rem;
        cursor: pointer;

        &:hover {
            background: #6db691;
        }
    }
}

.itemList {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 1rem 0;
    li {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .5rem;
        span {
            &:first-child {
                flex: 0 0 55%;
                text-transform: capitalize;
            }
            flex: 0 0 20%;
            text-align: left;
        }
        .buttons {
            flex: 0 0 15%;
            display: flex;
            justify-content: flex-end;
            button {
                border: none;
                padding: .5rem;
                margin: .5rem 0;
                border-radius: 3px;
                justify-content: flex-end;
                &:first-child{
                    margin-right: .5rem;
                    &:hover {
                        background: #6db691;
                    }
                }
                cursor: pointer;
                &.edit {
                    background: #58bf8dcc;
                    color: #fff;
                }
                &.del {
                    background: red;
                    color: #fff;
                }
            }
        }
        &:nth-child(even){
            background: rgb(204, 204, 204);
        }
        &:nth-child(odd){
            background: rgb(221, 221, 221);
        }
    }
}

.addItemForm {
    display: flex;
    flex-wrap: wrap;

    input {
        width: 100%;
        padding: 1rem;
        border: solid 1px #58bf8e;
        margin: .5rem 0;
    }
    button[type="submit"] {
        border: none;
        background: #58bf8dcc;
        color: #fff;
        padding: .8rem 1rem;
        margin-top: .5rem;
        font-size: 1.2rem;
        &:hover {
            background: #6db691;
        }
    }
    .notifaction-info {
        background: #58bf8dcc;
        color: #fff;
        width: 100%;
        font-size: 1rem;
        font-weight: 600;
        display: block;
        visibility: hidden;
        transition: all 1s;
        opacity: 0;
        height: 0;
        padding: 0;
        &.active {
            display: block;
            visibility: visible;
            opacity: 1;
            height: auto;
            padding: .6rem;
        }
    }
}