.max-width {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.editModalWrapper {
  background: rgba(0, 0, 0, 0.4);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.editModalWrapper.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editModalWrapper .editModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.editModalWrapper .editModal h3 {
  width: 100%;
}

.editModalWrapper .editModal span {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  padding: .5rem 1rem;
}

.editModalWrapper .editModal .addItemForm {
  width: 100%;
  padding: .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
}

.filters input {
  width: 100%;
  padding: .3rem;
  height: 25px;
  font-size: 1rem;
  border: solid 1px #7dcca4;
}

.filters button {
  width: 49%;
  margin-top: .5rem;
  border: none;
  font-size: 1rem;
  background: #76c59d;
  color: #fff;
  padding: .5rem;
  cursor: pointer;
}

.filters button:hover {
  background: #6db691;
}

.itemList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0 0 1rem 0;
}

.itemList li {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .5rem;
}

.itemList li span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  text-align: left;
}

.itemList li span:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  text-transform: capitalize;
}

.itemList li .buttons {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.itemList li .buttons button {
  border: none;
  padding: .5rem;
  margin: .5rem 0;
  border-radius: 3px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.itemList li .buttons button:first-child {
  margin-right: .5rem;
}

.itemList li .buttons button:first-child:hover {
  background: #6db691;
}

.itemList li .buttons button.edit {
  background: #58bf8dcc;
  color: #fff;
}

.itemList li .buttons button.del {
  background: red;
  color: #fff;
}

.itemList li:nth-child(even) {
  background: #cccccc;
}

.itemList li:nth-child(odd) {
  background: #dddddd;
}

.addItemForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.addItemForm input {
  width: 100%;
  padding: 1rem;
  border: solid 1px #58bf8e;
  margin: .5rem 0;
}

.addItemForm button[type="submit"] {
  border: none;
  background: #58bf8dcc;
  color: #fff;
  padding: .8rem 1rem;
  margin-top: .5rem;
  font-size: 1.2rem;
}

.addItemForm button[type="submit"]:hover {
  background: #6db691;
}

.addItemForm .notifaction-info {
  background: #58bf8dcc;
  color: #fff;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  height: 0;
  padding: 0;
}

.addItemForm .notifaction-info.active {
  display: block;
  visibility: visible;
  opacity: 1;
  height: auto;
  padding: .6rem;
}
/*# sourceMappingURL=form.css.map */